<div class="container">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-12">
        <h4>Sign Up</h4>
      </div>
      <form #signUpForm="ngForm" (ngSubmit)="SignupUser(signUpForm)">
        <div class="col-sm-12">
          <input type="text" name="newUserName" placeholder="Username" [(ngModel)]="user.userName" class="form-control"
                 [ngClass]="{'is-invalid': user.userName == '', 'is-valid': user.userName!= '' }" required/>
          <p class="invalid-feedback" *ngIf="user.userName == ''">Username Required.</p>
        </div>
        <div class="col-sm-12">
          <input type="text" name="newDisplayName" placeholder="Display Name" [(ngModel)]="user.displayName" class="form-control"
                 [ngClass]="{'is-invalid': user.displayName == '', 'is-valid': user.displayName!= '' }" required />
          <p class="invalid-feedback" *ngIf="user.displayName == ''">Display Name Required.</p>
        </div>
        <div class="col-sm-12">
          <input type="password" name="newPas" placeholder="Password" [(ngModel)]="user.password" class="form-control"
                 [ngClass]="{'is-invalid': user.password == '', 'is-valid': user.password!= '' }" required />
          <p class="invalid-feedback" *ngIf="user.password == ''">Password Required.</p>
        </div>
        <div class="col-sm-12">
          <input type="password" name="confirmPass" #confirmPass="ngModel" placeholder="Confirm Password" [(ngModel)]="tempConfirmPassword" class="form-control"
                 [ngClass]="{'is-invalid':tempConfirmPassword == '', 'is-valid': tempConfirmPassword != '' }"
                 pattern="{{user.password}}" required />
          <p class="invalid-feedback" *ngIf="tempConfirmPassword == ''">Required.</p>
          <div *ngIf="confirmPass.errors?.pattern" style="color:red">Password do not match.</div>
        </div>
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary"
                  [disabled]="user.userName == '' || user.displayName == '' || user.password == '' || confirmPass.errors || tempConfirmPassword == ''">
          Sign Up
          </button>
          <button type="button" class="btn btn-danger" routerLink="/login">Close</button>
        </div>
    </form>
  </div>
  </div>
</div>
