<p>user works!</p>


<div class="container">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-12">
        <h4>Sign Up</h4>
      </div>
      <form #signUpForm="ngForm" (ngSubmit)="SignupUser(signUpForm)">
        <div class="col-sm-12">
          <input type="text" name="newUserName" placeholder="Username" ngModel class="form-control" />
        </div>
        <div class="col-sm-12">
          <input type="text" name="newDisplayName" placeholder="Display Name" ngModel class="form-control" />
        </div>
        <div class="col-sm-12">
          <input type="password" name="newPas" placeholder="Password" ngModel class="form-control" />
        </div>
        <div class="col-sm-12">
          <input type="password" name="confirmPass" placeholder="Confirm Password" ngModel class="form-control" />
        </div>
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary">Create</button>
          <button type="button" class="btn btn-danger" routerLink="/login">Close</button>
        </div>
    </form>
  </div>
  </div>
</div>
