/JabilMeetingManagementEXC/.vs
/JabilMeetingManagementEXC/MeetingAppDataLayer/bin/Debug/netcoreapp2.1
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/obj/Debug/netcoreapp2.1/JabilMeetingManagementEXC.AssemblyInfoInputs.cache
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/obj/Debug/netcoreapp2.1/JabilMeetingManagementEXC.assets.cache
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/obj/Debug/netcoreapp2.1/JabilMeetingManagementEXC.csproj.CopyComplete
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/obj/Debug/netcoreapp2.1/JabilMeetingManagementEXC.csproj.CoreCompileInputs.cache
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/obj/Debug/netcoreapp2.1/JabilMeetingManagementEXC.csproj.FileListAbsolute.txt
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/obj/Debug/netcoreapp2.1/JabilMeetingManagementEXC.csprojAssemblyReference.cache
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/obj/Debug/netcoreapp2.1/JabilMeetingManagementEXC.dll
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/obj/Debug/netcoreapp2.1/JabilMeetingManagementEXC.pdb
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/obj/Debug/netcoreapp2.1/JabilMeetingManagementEXC.RazorAssemblyInfo.cache
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/obj/Debug/netcoreapp2.1/JabilMeetingManagementEXC.RazorAssemblyInfo.cs
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/obj/Debug/netcoreapp2.1
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/obj
/JabilMeetingManagementEXC/MeetingAppDataLayer/obj
/JabilMeetingManagementEXC/WEBHANDLERS/obj/Debug/netcoreapp2.1
/JabilMeetingManagementEXC/WEBHANDLERS/obj
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/bin/Debug/netcoreapp2.1
