/JabilMeetingManagementEXC/.vs/JabilMeetingManagementEXC
/JabilMeetingManagementEXC/MeetingAppDataLayer
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/obj/Debug/netcoreapp2.1
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/obj
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/bin/Debug/netcoreapp2.1
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/bin/Debug/netcoreapp2.1/Razor/Pages/_ViewImports.cshtml.g.cs
lMeetingManagementEXC/JabilMeetingManagementEXC/bin/Debug/netcoreapp2.1/Razor/Pages/Error.cshtml.g.cs
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/ClientApp/node_modules
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/package-lock.json
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/ClientApp/src/interface/user.js
/JabilMeetingManagementEXC/JabilMeetingManagementEXC/ClientApp/src/interface/user.js.map
