.container {
  margin-top: 6rem;
}
.card {
  min-width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.bottom-padding {
  padding-bottom: 1rem;
}

.move-right {
  text-align: right;
}
