<div class="container">

  <div class="col-sm-12 loginContainer">
    <div class="row">
      <div class="col-sm-12">
        <form #loginForm="ngForm">
          <div class="col-sm-12">
            <label for="usrName">Username : </label>
            <input type="text" #userName name="usrName" class="form-control" />
          </div>
          <div class="col-sm-12">
            <label for="passw">Password : </label>
            <input type="password" #password name="passw" class="form-control" />
          </div>
          <div class="col-sm-6">
            <button type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
